
/* .cls-9:hover{
    stroke: black;
    opacity: 1;
}

text.cls-3:hover{
    color: black;
    opacity: 0.5;
} */





/* 
.cls-1
.cls-2
.cls-3
.cls-4
.cls-5               
.cls-6
.cls-7
.cls-8
.cls-9
.cls-10 */
