  g{
    font-size: 9px;
    transition: opacity  .6s cubic-bezier(0,.59,.24,.99) .0s;

  }
  /* text{
    transition: font-size  .6s cubic-bezier(0,.59,.24,.99) .0s;

  }
  tspan{
    transition: font-size  .6s cubic-bezier(0,.59,.24,.99) .0s;

  } */
  .cls-1,
  .cls-34 {
      fill: #1d1d1b;
  }

  .cls-1,
  .cls-101,
  .cls-108,
  .cls-113,
  .cls-116,
  .cls-122,
  .cls-56,
  .cls-61,
  .cls-71,
  .cls-79,
  .cls-93,
  .cls-96 ,
  .cls-129,
  .cls-132,
  .cls-36,
  .cls-42,
  .cls-50,
  .cls-69{
    font-family: "Roboto";
    letter-spacing: 0.01em;
    /* font-size: 8px; */
    transition: font-weight .6s cubic-bezier(.48,0,1,1) .0s;
    transition: font-size  .6s cubic-bezier(0,.59,.24,.99) .0s;

     

  }


  .cls-101:hover,
  .cls-108:hover,
  .cls-113:hover,
  .cls-116:hover,
  .cls-122:hover,
  .cls-56:hover,
  .cls-61:hover,
  .cls-71:hover,
  .cls-79:hover,
  .cls-93:hover,
  .cls-96:hover,
  .cls-129:hover,
  .cls-132:hover,
  .cls-36:hover,
  .cls-42:hover,
  .cls-50:hover,
  .cls-69:hover{ 
      font-size: 56px; 
    transition: font-weight .6s cubic-bezier(0,.59,.24,.99) .0s;
    transition: font-size  .6s cubic-bezier(0,.59,.24,.99) .0s;   }


  
  .cls-100,
  .cls-101 {
      fill: #a888ff;
      
  }
  .cls-35,
  .cls-36 {
      fill: red;
  }



  .cls-38,
  .cls-46 {
      fill: none;
      stroke-miterlimit: 10;
  }

  .cls-38 {
      stroke: red;
      transition: stroke-width .6s cubic-bezier(.48,0,1,1) .2s;
  }
  .cls-38:hover {
    stroke-width: 7px;
    transition: stroke-width .1s cubic-bezier(0,.59,.24,.99) .0s;
    
}
.cls-46 {
  stroke: blue;
  transition: stroke-width .6s cubic-bezier(.48,0,1,1) .2s;
}
.cls-46:hover {
stroke-width: 7px;
transition: stroke-width .1s cubic-bezier(0,.59,.24,.99) .0s;
}

  .cls-41,
  .cls-42 {
      fill: blue;
  }





  .cls-49,
  .cls-50 {
      fill: #ff00e7;
  }


  .cls-55,
  .cls-56,
  .cls-61,
  .cls-69 {
      fill: #00e7ff;
  }

 

  .cls-70,
  .cls-71,
  .cls-79 {
      fill: #00ff24;
  }

 

  .cls-92,
  .cls-93,
  .cls-96 {
      fill: #ff9d00;
  }


  .cls-107,
  .cls-108 {
      fill: #025600;
  }

  
  .cls-112,
  .cls-113 {
      fill: #e5df00;
  }



  .cls-115,
  .cls-116 {
      fill: #bc9a69;
  }

 

  .cls-121,
  .cls-122 {
      fill: #7c2b0b;
  }

  

  .cls-128,
  .cls-129 {
      fill: #4d299b;
  }



  .cls-131,
  .cls-132 {
      fill: #686b34;
  }




